.board {
  display: grid;
  gap: 0.5rem;
  margin: 2rem 0;

  @include mobile {
    gap: 0.25rem;
  }

  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $color-light-purple;
    color: $color-purple;
    font-size: 1.5rem;
    cursor: pointer;

    @include mobile {
      width: auto;
      height: auto;
      font-size: 1rem;
      padding: 0.5rem 0;
      min-width: 2rem;
    }

    &:hover {
      background-color: $color-purple;
      color: $color-light-purple;
    }
  }
}
